/* Styles généraux */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f5f0;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
}

header nav .logo {
    height: 50px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover,
header nav ul li a.active {
    color: #f0ce9f;
}

/* Section héro */
.hero {
    background-image: url('{% static "images/hero-bg.jpg" %}');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 150px 20px;
    color: #fff;
    position: relative;
}

.hero .overlay {
    background-color: rgba(75, 72, 72, 0.6);
    padding: 50px;
    border-radius: 15px;
}

.hero h1 {
    font-size: 3.5rem;
    margin-bottom: 15px;
    color: #800000;
    font-weight: bold;
}

.hero p {
    font-size: 1.4rem;
    margin: 0;
}

/* Section "Qui nous sommes" */
.about-us {
    display: flex;
    gap: 30px;
    padding: 60px 20px;
    align-items: center;
    background-color: #fff5e6;
}

.about-images img {
    width: 45%;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.about-text {
    max-width: 50%;
}

.about-text h2 {
    font-size: 2.8rem;
    margin-bottom: 15px;
    color: #800000;
}

.about-text p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 15px;
}


/* Section "Notre histoire" */
.our-history {
    text-align: center;
    padding: 60px 20px;
    background: linear-gradient(to bottom, #eed57b, #791d08);
    color: #800000;
}

.our-history h2 {
    font-size: 2.8rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.our-history .timeline .event {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Section "Toujours bien cuit" */
.always-baked {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 60px 20px;
    background-color: #fff;
}

.always-baked .image img {
    width: 50%;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.always-baked .text {
    text-align: left;
}

.always-baked .text h2 {
    font-size: 2.8rem;
    color: #800000;
}

.always-baked .text p {
    font-size: 1.2rem;
    line-height: 1.8;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 50px 0;
    font-size: 0.9rem;
}
