/* Styles généraux */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
main{
    background-image: url(../images/pain.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: #fff;
    text-shadow: 1px 1px 1px black;
    margin-top: 100px;
}
/* Header */
header {
    padding: 100px 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header .logo {
    height: 60px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #e6c756;
}

/* Contact Header Section */

/* Form Section */
.contact-form-section {
    padding: 3rem 1rem;
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    max-width: 600px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: #800000;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    color: #333;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #800000;
    box-shadow: 0px 4px 8px rgba(128, 0, 0, 0.3);
    outline: none;
}

textarea {
    resize: none;
    height: 150px;
}

.btn-submit {
    background-color: #800000;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-submit:hover {
    background-color: #660000;
    transform: scale(1.05);
}

/* Messages de retour */
.messages {
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
  }
  
  .success {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
  }
  
  .error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
  }
  
/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 50px 0;
    font-size: 0.9rem;
}
