@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

html{
    scroll-behavior: smooth;
}
header{
    min-height: 100dvh;
    background-image: url(../images/header.jpg);
    background-size: cover;
    padding-top: 120px;
    color: white;
}
nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.logo{
    width: 100px;
    height: 100px;
    padding: 0px;
    object-fit: contain;
    border-radius: 100%;
    background-color: #fc8eba;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 8px;
    width: 100%;
    max-width: 700px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
}