{% extends "admin/base_site.html" %} 

{% block content %}
  <h1>Modifier les produits sélectionnés</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Vous êtes sur le point de modifier {{ products.count }} produit(s).</p>

    {% for product in products %}
      <div>
        <label for="name_fr_{{ forloop.counter }}">Nom du produit (FR) :</label>
        <input type="text" name="name_fr_{{ forloop.counter }}" value="{{ product.name_fr }}">

        <label for="name_en_{{ forloop.counter }}">Nom du produit (EN) :</label>
        <input type="text" name="name_en_{{ forloop.counter }}" value="{{ product.name_en }}">

        <label for="code_{{ forloop.counter }}">Code du produit :</label>
        <input type="text" name="code_{{ forloop.counter }}" value="{{ product.code }}">

        <label for="category_{{ forloop.counter }}">Catégorie :</label>
        <input type="text" name="category_{{ forloop.counter }}" value="{{ product.category }}">

        <label for="subcategory_{{ forloop.counter }}">Sous-catégorie :</label>
        <input type="text" name="subcategory_{{ forloop.counter }}" value="{{ product.sub_category }}">

        <label for="description_{{ forloop.counter }}">Description :</label>
        <textarea name="description_{{ forloop.counter }}">{{ product.description }}</textarea>

        <label for="image_{{ forloop.counter }}">Image du produit :</label>
        <input type="file" name="image_{{ forloop.counter }}">
      </div>
    {% endfor %}

    <button type="submit" name="apply" value="1">Appliquer</button>
  </form>
{% endblock %}