{% extends 'base.html' %}
{% load static %}

{% block title %}À propos - Wawel{% endblock %}

{% block content %}

        <!-- Section héro -->
        <section class="hr">
            <div class="overlay">
                <h1 class="hr-title">À propos</h1>
                <p class="hr-subtitle">La boulangerie au bon pain vous sert depuis 1984.</p>
            </div>
        </section>

        <!-- Section "Qui nous sommes" -->
        <section class="about-us">
            <div class="about-images">
                <img src="{% static 'images/bread-floating.jpg' %}" alt="Pain en lévitation">
                <img src="{% static 'images/baker.jpg' %}" alt="Pâtissière">
            </div>
            <div class="about-text">
                <h2>Qui nous sommes ?</h2>
                <p>Depuis 1984, Wawel se consacre à offrir des pains et pâtisseries artisanaux de qualité supérieure.</p>
                <p>Quand un boulanger passionné rencontre une pâtissière talentueuse, la magie opère pour créer des moments inoubliables.</p>
            </div>
        </section>

        <!-- Section "Notre histoire" -->
        <section class="our-history">
            <h2>Notre histoire</h2>
            <div class="timeline">
                <div class="event" onclick="toggleEvent(this)">
                    <p>Ouverture de la première boulangerie Wawel.</p>
                    <span class="event-date">1984</span>
                </div>
                <div class="event" onclick="toggleEvent(this)">
                    <p>Introduction des pâtisseries artisanales.</p>
                    <span class="event-date">Mai 2000</span>
                </div>
                <div class="event" onclick="toggleEvent(this)">
                    <p>Expansion à travers toute la région.</p>
                    <span class="event-date">Août 2019</span>
                </div>
                <div class="event" onclick="toggleEvent(this)">
                    <p>Lancement de notre boutique en ligne.</p>
                    <span class="event-date">Janvier 2025</span>
                </div>
            </div>
        </section>

        <!-- Section "Toujours bien cuit" -->
        <section class="always-baked">
            <div class="image">
                <img src="{% static 'images/bread-slices.jpg' %}" alt="Tranches de pain">
            </div>
            <div class="text">
                <h2>Toujours bien cuit</h2>
                <p>Chez Wawel, chaque pain est cuit à la perfection, avec une attention aux détails qui fait toute la différence.</p>
            </div>
        </section>


{% endblock %}