{% load static %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contactez-nous - Wawel</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}" />
  </head>
  <body>
    {% include './utils/nav.html' %}

    <!-- Contact Header -->
    <main>
    
        <h1> Contactez-nous </h1>

      <!-- Contact Form -->
      <section class="contact-form-section">
        
        <div class="form-container">
          <form action="/submit-contact/" method="POST">
            <div class="form-group">
              <label for="prenom">Prénom :</label>
              <input
                type="text"
                id="prenom"
                name="prenom"
                placeholder="Votre prénom"
                required
              />
            </div>
            <div class="form-group">
              <label for="nom">Nom :</label>
              <input
                type="text"
                id="nom"
                name="nom"
                placeholder="Votre nom"
                required
              />
            </div>
            <div class="form-group">
              <label for="email">Adresse email :</label>
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Votre adresse email"
                required
              />
            </div>
            <div class="form-group">
              <label for="message">Message :</label>
              <textarea
                id="message"
                name="message"
                placeholder="Votre message"
                required
              ></textarea>
            </div>
            <button type="submit" class="btn-submit">Envoyer</button>
          </form>
        </div>
      </section>
    </main>
    <!-- Footer -->
    <footer>&copy; 2024 Wawel - Tous droits réservés.</footer>
  </body>
</html>
