{% extends 'base.html' %}
{% load static %}

{% block title %}Politique de Confidentialité{% endblock %}


{% block content %}

    <!-- Header de la page -->
    <header class="privacy-header">
        <div class="header-overlay">
            <h1>Politique de Confidentialité</h1>
        </div>
    </header>
    

    <!-- Contenu principal -->
    <main class="privacy-content">
        <h2>Introduction</h2>
        <p>
            Chez Wawel, nous nous engageons à protéger vos données personnelles.
            Cette page explique comment nous collectons, utilisons et protégeons vos informations.
        </p>

        <h2>Informations Collectées</h2>
        <ul>
            <li>Nom, prénom</li>
            <li>Adresse e-mail</li>
            <li>Messages ou commentaires envoyés via le formulaire de contact</li>
        </ul>

        <h2>Utilisation des Données</h2>
        <p>
            Vos données sont utilisées pour :
        </p>
        <ul>
            <li>Vous envoyer des informations sur nos promotions et événements</li>
            <li>Répondre à vos questions ou demandes</li>
        </ul>

        <h2>Vos Droits</h2>
        <p>
            Vous avez le droit d'accéder, de corriger ou de supprimer vos données personnelles.
            Contactez-nous à <a href="mailto:info@wawelpatisseries.com">info@wawelpatisseries.com</a>.
        </p>
    </main>

{% endblock %}
